<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/delete}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>price</label>
            <input type="email" th:field="*{price}"/>
        </div>
        <div>
            <label>quantity</label>
            <input type="text" th:field="*{quantity}"/>
        </div>

        <div>
            <label>color</label>
            <input type="text" th:field="*{color}"/>
        </div>

        <div>
            <label>descriptions</label>
            <input type="text" th:field="*{descriptions}"/>
        </div>

        <div>
            <label>category</label>
            <input type="text" th:field="*{category}"/>
        </div>
        <input type="submit" value="Remove">
        <a th:href="@{/}"><input type="button" value="Cane"></a>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>