<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/product/create}">
        <input type="button" value="Add new product">
    </a>
</p>

<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Color</th>
        <th>Descriptions</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
        <!--         id,  name,  price,  quantity,  color,  descriptions,  category-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getQuantity()}"></td>
        <td th:text="${product.getColor()}"></td>
        <td th:text="${product.getDescriptions()}"></td>
        <td th:text="${product.getCategory()}"></td>
        <td><a th:href="@{/product/edit/{id}(id=${product.getId()})}">edit</a></td>
        <td><a th:href="@{/product/delete/{id}(id=${product.getId()})}">delete</a></td>
        <td><a th:href="@{/product/view/{id}(id=${product.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
