<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/blog/create-blog">Create new Blog</a>
<br>
<!--<form action="/blog/search-blog">-->
<!--    <label>Input text:</label>-->
<!--    <input type="hidden" name="action" value="search">-->
<!--    <input type="text" th:name="inputSearch">-->
<!--    <input type="submit" value="Search">-->
<!--</form>-->

<form action="/blog/search">
    <label>Input text:</label>
    <input type="hidden" name="action" value="search">
    <select name="searchMethod">
        <option value="all">all</option>
        <option value="name">name</option>
        <option value="type">type</option>
        <option value="content">content</option>
        <option value="time">time</option>
    </select>
    <input type="text" th:name="name">
    <input type="submit" value="Search">
</form>

<p>
    <a href="/blog/">Blogs list</a>
</p>


<h1>Blog</h1>
<table border="1" style="border-collapse: collapse">
    <tr>
        <th>Blog Name</th>
        <th>Type</th>
        <th>Time</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td><a th:href="@{/blog/view-blog/__${blog.id}__ }" th:text="${blog.name}"></a></td>
            <td th:text="${blog.type}"></td>
            <td th:text="${blog.time}"></td>
            <td th:text="${blog.category.nameCategory}"></td>
            <td><a th:href="@{/blog/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/blog/delete-blog/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/blog/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/blog/'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>

</body>

</html>