<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customer/create}">
        <input type="button" value="Add new customer">
    </a>
</p>

<table id="customers">
    <thead>

    </thead>
    <tbody>
    <tr th:each="customer : ${customerList}">
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getEmail()}"></td>
        <td th:text="${customer.getAddress()}"></td>
        <td><a th:href="@{/customer/{id}/edit(id=${customer.getId()})}">edit</a></td>
        <td><a th:href="@{/customer/{id}/delete(id=${customer.getId()})}">delete</a></td>
        <td><a th:href="@{/customer/{id}/view(id=${customer.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
