
<!DOCTYPE html>
<img id="img-of-the-day" style="width: 500px" , height="400px">
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=7fc7zVOJdonBJ3O4sD0BzQ3Znz4dRz8SqTBl4h0w';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>


<form th:action="@{/home/comment}" th:object="${comment}" method="post">
    <select th:field="*{mark}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select> <br>
    <table>
        <tr>
            <td>Author:</td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Comment:</td>
        </tr>
        <tr>
            <td><textarea th:field="*{content}"></textarea></td>
        </tr>
    </table>
    <div>
        <input type="submit" name="submit" value="Comment">
    </div>

</form>

Comments:
<table>
    <tr>
        <th>Mark</th>
        <th>content</th>
        <th>totalLike</th>
    </tr>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <tr th:each="comment : ${commentList}">
        <form th:action="@{/home/like/{id}(id=${comment.id})}" method="post">

            <td th:text="${comment.getMark()}">
            </td>
            <td th:text="${comment.getContent()}">
            </td>
            <td th:text="${comment.getTotalLike()}">
            </td>
            <td><input type="submit" name="submit" value="Like">
            </td>
        </form>
    </tr>
</table>
<div>
    <a th:href="@{'/home'(page=${commentList.number -1}, search=${search})}" th:if="${commentList.hasPrevious()}">Previous</a>
    <span th:text="${commentList.number + 1}"></span>/<span th:text="${commentList.totalPages}"></span>
    <a th:href="@{'/home'(page=${commentList.number +1}, search=${search})}" th:if="${commentList.hasNext()}">Next</a>
</div>



</body>
</html>