<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/index :: head"></head>
<head>
    <title>Hợp Đồng</title>
    <style>
        button {
            margin-bottom: 10px;
        }

        .custom-search-form {
            margin-top: 5px;
        }

        .btn-default {
            font-size: 20px;
            padding: 5px;
            margin-left: 10px;
        }

        .form-control {
            padding: 17px 10px;
            line-height: 37px;
        }
        .menu {
            float: none;
        }
    </style>
</head>
<body>
<nav th:replace="/index :: header"></nav>
<ul th:replace="/index :: menu"></ul>
<div class="container">
    <form th:action="@{/hopdongs}">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <button type="button" class="btn btn-outline-primary">
                    <a th:href="@{/create-hopdong}">Tạo Hợp Đồng Mới</a></button>
            </div>
<!--            <div class="col-xs-6 col-md-3">-->
<!--                <button type="button" class="btn btn-outline-primary">-->
<!--                    <a th:href="@{/hopdongcookie}"> Hợp Đồng Đã Delete</a></button>-->
<!--            </div>-->
            <div class="col-md-6">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" name="search" placeholder="Tiềm Kiếm">
                    <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
              <span class="fas fa-search"></span>
             </button>
             </span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <table class="table table-sm table-primary">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên Khách Hàng</th>
            <th>Tên Dịch Vụ</th>
            <th>Ngày Làm Hợp Đồng</th>
            <th>Ngày Kết Thúc</th>
            <th>Tiền Đặt Cọc</th>
            <th>Tổng Tiền</th>
            <th>Thao Tác</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="hopdong : ${hopdongs}">
            <tr>
                <td><a th:href="@{/view-hopdong/__${hopdong.id}__ }" th:text="${hopdong.id}"></a></td>
                <td th:text="${hopdong.khachHang.hoTen}"></td>
                <td th:text="${hopdong.dichVu.tenDichVu}"></td>
                <td th:text="${hopdong.ngayBatDau}"></td>
                <td th:text="${hopdong.ngayKetthuc}"></td>
                <td th:text="${hopdong.soTienCocTruoc}"></td>
                <td th:text="${hopdong.tongTienThanhToan}" ></td>
                <td>
                    <a th:href="@{/edit-hopdong/__${hopdong.id}__ }">
                        <button type="submit" class="fas fa-edit">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="#deleteDichvu" class="delete" title="Delete" id="delete" th:data-id="${hopdong.id}"
                       th:data-name="${hopdong.khachHang.hoTen}"
                       data-toggle="modal"> <button type="submit" class="fas fa-edit">Delete</button>
                    </a>
                </td>
                <td>
                    <button class="btn btn-outline-primary" ><a th:href="@{/create-hopdongchitiet/__${hopdong.id}__ }">Thêm Dịch Vụ</a></button>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/hopdongs'(page=${hopdongs.number - 1},search =${search})}"
           th:if="${hopdongs.hasPrevious()}">Previous</a>
        <span th:text="${hopdongs.number + 1}"></span>/<span th:text="${hopdongs.totalPages}"></span>
        <a th:href="@{'/hopdongs'(page=${hopdongs.number + 1},search =${search})}" th:if="${hopdongs.hasNext()}">Next</a>
    </div>
</div>
<div th:replace="/index :: footer"></div>
<div id="deleteDichvu" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/delete-hopdong" method="post" style="font-size: 17px" >
                <div class="modal-header">
                    <p class="modal-title">Xóa Hợp Đồng</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id">
                    <p>Bạn Có Muốn Xóa Hợp Đồng Của Khách Hàng</p>
                    <p id="name"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="/index :: dangnhap"></div>
</body>
<script>
    $(".delete").click(function () {
        $("#id").val($(this).data("id"));
        $("#name").text($(this).data("name"));
    })
</script>
</html>