<div class="row justify-content-lg-between">
  <h2>Danh Sách Khách Hàng</h2>
<!--thông báo khi thành công-->
  <h4 class="text-primary mt-2 "> {{ create_msg }} {{ edit_msg }} {{ delete_msg }}</h4>

  <div class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm khách hàng " style="width: 250px"
           [(ngModel)]="term">
    <button class="btn btn-success" type="submit">Search</button>
  </div>

</div>

<div class="row mt-3">
  <a href="customer-create">
    <button class="btn btn-success">Thêm Mới</button>
  </a>

  <table class="table table-hover table-striped mt-3">
    <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Id Card</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>address</th>
      <th>CustomerType</th>
      <th>action:</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let obj of objList |filter: term |paginate: { itemsPerPage: 3, currentPage: p }; let i = index ">
      <td scope="row">{{i + 1}}</td>
      <td>{{obj.id}}</td>
      <td>{{obj.name}}</td>
      <td>{{obj.birthday|date: 'dd/LL/yyyy'}}</td>
      <td>{{obj.idCard}}</td>
      <td>{{obj.phoneNumber}}</td>
      <td>{{obj.email}}</td>
      <td>{{obj.address}}</td>
      <td>{{obj.customerType.name}}</td>

      <td>
        <button class="btn btn-sm btn-warning mr-3" [routerLink]="['/customer-edit/'+obj.id]">Sửa</button>

        <button class="btn btn-sm btn-danger mr-3" (click)="openDialog(obj.id)">Xóa</button>

        <button class="btn btn-sm btn-info" [routerLink]="['/customer-view/'+obj.id]">Xem</button>
      </td>
    </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>



