<!--&lt;!&ndash;  <div class="col-12 mt-4">&ndash;&gt;-->
<!--&lt;!&ndash;  <app-customer-view [customer]="customer" ></app-customer-view>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<div class="row justify-content-lg-between">
  <h2>Danh Sách Nhân Viên</h2>
  <form class="form-inline" action="">
    <input  class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm theo tên nhân viên " style="width: 400px">
<!--    <input  class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm theo tên nhân viên " style="width: 400px" [(ngModel)]= "term">-->
    <button class="btn btn-success" type="submit" >Search</button>
  </form>
</div>

<div class="row mt-3">
  <a href="customer-create"><button class="btn btn-success">Thêm Mới</button></a>

        <table class="table table-hover table-striped mt-3">
          <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Id Card</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>address</th>
            <th>idCustomerType</th>
            <th>action:</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of customers ; let i = index " >
<!--          <tr *ngFor="let item of customers |filter: 'term'; let i = index " >-->
            <td scope="row">{{i + 1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.birthday}}</td>
            <td>{{item.idCard}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.email}}</td>
            <td>{{item.address}}</td>
            <td>{{item.idCustomerType}}</td>
            <td>
              <button class="btn btn-sm btn-warning mr-3">Sửa</button>
              <button class="btn btn-sm btn-danger mr-3">Xóa</button>
              <a href="customer-view"><button class="btn btn-sm btn-info">Xem</button></a>
            </td>
          </tr>
          </tbody>
        </table>
</div>



