<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-blog">Create new Blog</a>
<h1>Blog</h1>
<table border="1" style="border-collapse: collapse">
    <tr>
        <th>Blog Name</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td><a th:href="@{/view-blog/__${blog.id}__ }" th:text="${blog.name}"></a></td>
            <td th:text="${blog.type}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>

</body>

</html>