<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/index :: head"></head>
<head>
    <title>Thêm Khách Hàng</title>
    <style>
        .footer-copyright {
            background-color: rgb(8, 95, 86) !important;
            position: relative;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: #efefef;
            text-align: center;
        }

        .input {
            float: left;
        }

        .contact-form .form-control, .contact-form .btn {
            min-height: 20px;
            border-radius: 2px;
        }

        .contact-form .form-control {
            border-color: #e2c705;
            height: 30px;
        }

        .contact-form .form-control:focus {
            border-color: #d8b012;
            box-shadow: 0 0 8px #dcae10;
        }

        /*body {*/
        /*    background-image: url("");*/
        /*}*/

        .menu {
            float: none;
        }
    </style>
</head>
<body>
<nav th:replace="/index :: header"></nav>
<ul th:replace="/index :: menu"></ul>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div>
    <div class="container-lg" style="font-size: 20px">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="contact-form">
                    <h3>Thêm Khách Hàng</h3>

                    <form th:action="@{/create-khachhang}" th:object="${khachhang}" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Loại Khách : </label>
                                    <select th:field="*{loaiKhachHang}">
                                        <option th:each="l : ${loaikhachhang}" th:value="${l.id}"
                                                th:text="${l.tenLoaiKhachHang}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label col-4"> Mã Khách Hàng :</label>
                            <div class="col-8">
                                <input type="text" class="form-control" th:field="*{idKhachHang}" required="required">
                            </div>
                            <p style="color: red" th:if="${#fields.hasErrors('idKhachHang')}"
                               th:errors="*{idKhachHang}"></p>
                        </div>

                        <div class="form-group ">
                            <label class="col-form-label col-4"> Tên Khách Hàng :</label>
                            <div class="col-8">
                                <input type="text" class="form-control" th:field="*{hoTen}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label col-4"> Ngày Tháng Năm Sinh :</label>
                            <div class="col-8">
                                <input type="date" class="form-control" th:field="*{ngaySinh}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label> Giới Tính : </label>
                                    <select th:field="*{gioiTinh}">
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-form-label col-4"> CMND :</label>
                            <div class="col-8">
                                <input type="text" class="form-control" th:field="*{soCMND}">
                                <p style="color: red" th:if="${#fields.hasErrors('soCMND')}"
                                   th:errors="*{soCMND}"></p>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-form-label col-4"> SDT :</label>
                            <div class="col-8">
                                <input type="text" class="form-control" th:field="*{sDT}">
                                <p style="color: red" th:if="${#fields.hasErrors('sDT')}" th:errors="*{sDT}"></p>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-form-label col-4"> Email :</label>
                            <div class="col-8">
                                <input type="text" class="form-control" th:field="*{email}">
                                <p style="color: red" th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}"></p>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-form-label col-4"> Địa Chỉ :</label>
                            <div class="col-8">
                                <input type="text" class="form-control"
                                       th:field="*{diaChi}">
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <a th:href="@{/khachhangs}">
                                <button type="button" class="btn btn-primary">Hủy</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/index :: footer"></div>
<div th:replace="/index :: dangnhap"></div>
</body>
</html>