<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table>

        <th:block th:each="blog : ${category.blogs}">
            <tr>
                <td>Blog Name:</td>
                <td th:text="${blog.name}"></td>
            </tr>

            <tr>
                <td>Blog Type:</td>
                <td th:text="${blog.type}"></td>
            </tr>

            <tr>
                <td>Blog Content:</td>
                <td th:text="${blog.content}"></td>
            </tr>

            <tr>
                <td>Blog Time:</td>
                <td th:text="${blog.time}"></td>
            </tr>
        </th:block>

    </table>
</form>
</body>
</html>