<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<p>
    <a href="/">User list</a>
</p>

<form th:action="@{/edit-user}" th:object="${user}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">

    <table>

        <tr>
            <td>First Name:</td>
            <td>
                <input type="text" th:field="*{firstName}"/>
                <span style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            </td>

        </tr>

        <tr>
            <td>Last Name:</td>
            <td>
                <input type="text" th:field="*{lastName}"/>
                <span style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </td>

        </tr>

        <tr>
            <td>Phone Number:</td>
            <td>
                <input type="text" th:field="*{phoneNumber}"/>
                <span style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </td>

        </tr>

        <tr>
            <td>Age:</td>
            <td>
                <input type="text" th:field="*{age}"/>
                <span style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
            </td>

        </tr>

        <tr>
            <td>Email:</td>
            <td>
                <input type="text" th:field="*{email}"/>
                <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </td>

        </tr>

        <tr>
            <td><input type="submit" value="Edit User"></td>
        </tr>
    </table>
</form>
</body>
</html>