<img id="img-of-the-day" style="width: 500px" , height="400px">
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=7fc7zVOJdonBJ3O4sD0BzQ3Znz4dRz8SqTBl4h0w';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<br>
<br>
<form action="/create-comment" method="post" th:object="${comment}">
    <select th:field="*{mark}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    Author: <input type="text" th:field="*{author}">
    <br>
    Feedback: <textarea th:field="*{feedback}"></textarea>
    <br>
    <button type="submit">Comment</button>
</form>
<table border="1px" style="border-collapse: collapse">


    <tr>
        <th>id</th>
        <th>author</th>
        <th>mark</th>
        <th>feedback</th>
        <th>totalLike</th>

    </tr>

    <tr th:each="comment : ${comments}">
        <td th:text="${comment.id}"></td>
        <td th:text="${comment.author}"></td>
        <td th:text="${comment.mark}"></td>
        <td th:text="${comment.feedback}"></td>
        <td th:text="${comment.totalLike}"></td>
        <td>
            <a th:href="@{/update-like/{id}(id=${comment.id})}">LIKE</a>
            <a th:href="@{/delete-like/{id}(id=${comment.id})}">DELETE</a>
        </td>

</table>
<div>
    <a th:href="@{'/'(page=${comments.number - 1})}" th:if="${comments.hasPrevious()}">Previous</a>
    <span th:text="${comments.number + 1}"></span>/<span th:text="${comments.totalPages}"></span>
    <a th:href="@{'/'(page=${comments.number + 1})}" th:if="${comments.hasNext()}">Next</a>
</div>
</tr>
</body>
</html>